<div class="filters mb-4">
    <h4>Filter Exercises</h4>
    <form id="filters-form" class="row gy-3 gx-3">
        {% for filter_name, filter_options in filters.items() %}
        <div class="col-md-4">
            <label for="{{ filter_name }}" class="form-label">
                {{ filter_name.replace('_', ' ').capitalize() }}
            </label>
            <select id="{{ filter_name }}" name="{{ filter_name }}" class="form-select">
                <option value="">All</option>
                {% for option in filter_options %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
    </form>
    <div class="mt-3">
        <button type="button" class="btn btn-primary" onclick="filterExercises()">
            Apply Filters
        </button>
    </div>
</div>
